<div class="card" fxLayout="column" fxLayout.gt-sm="row">
   <div @fadeInUp class="card" fxFlex="auto">
       <div class="px-6 py-4 border-b" fxLayout="row" fxLayoutAlign="start center">
        <h2 class="title m-0">Sources</h2>
      </div>
	 
      <div>
        <mat-card class="mb-3">
          <h3>External Sources </h3>
        
     
          <mat-list role="list" class="custom-list">
            <mat-list-item role="listitem"> <a href="#" style="color:#00a5e2;"> https://indianexpress.com/article/cities/kolkata/kolkata-special-task-force-busts-illegal-arms-factory-nine-held-5285576/ </a> </mat-list-item>
           </mat-list>
        </mat-card>
		
	
         
     <mat-card class="mb-3">
          <h6>Legal Notice</h6>
        
     
          <mat-list role="list" class="custom-list">
           <p class="ml-3">The contents of this record are private and confidential and should not be disclosed to third parties unless: </p>
		    <p class="ml-3">(i) the terms of your agreement with Refinitiv allow you to do so;</p>
			 <p class="ml-3">(ii) the record subject requests any data that you may hold on them, and such data includes their World-Check record; or</p>
			  <p class="ml-3">(iii) you are under some other legal obligation to do so. You must consider and abide by your own obligations in relation to the data privacy rights of individuals and must notify them of your intention to search against World-Check
			  and provide them with information contained in the World-Check privacy statement : <a href="#" style="color:#00a5e2;">  https://www.refinitiv.com/en/products/world-check-kyc-screening/privacy-statement. </a>You shall not rely upon the content of this report without making independent checks to verify the information contained therein. Information correlated is necessarily brief and 
			   allegations, it should be assumed that such allegations are denied by the subject. You should not draw any negative inferences about individuals or entities merely because they are identified in the database, nor because they are shown as "Reported being linked to" others identified in the database. The nature of linking varies considerably. Many persons are included solely because they hold or have held prominent political positions or are connected to such individuals.</p>
           </mat-list>
        </mat-card>
      
  
  </div>
    </div>
</div>
