<div class="card" fxLayout="column" fxLayout.gt-sm="row">
 <div @fadeInUp class="card" fxFlex="auto">
      <div class="px-6 py-4 border-b" fxLayout="row" fxLayoutAlign="start center">
        <h2 class="title m-0">Single Screening</h2>
      </div>

      <form [formGroup]="passportCheckForm" (ngSubmit)="submitPassportCheck()" class="p-6" fxLayout="column" fxLayoutGap="16px">
       

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
          <mat-form-field fxFlex="auto">
          <mat-label>Name</mat-label>
          <input  formControlName="Name" matInput required>
		  <mat-error *ngIf="hasError('Name', 'required')">Name is Required.</mat-error>
        </mat-form-field>
		
		 <mat-form-field fxFlex="auto">
            <mat-label>Case ID</mat-label>
            <input formControlName="caseId" matInput >
         <mat-error *ngIf="hasError('caseId', 'required')">CaseId is Required.</mat-error>
		  </mat-form-field>
        </div>
      

                    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
          <div style="margin-top: 16px;">
				 <mat-label>Gender</mat-label>
                  <mat-radio-group fxLayout="row" fxLayoutGap="16px">
                    <mat-radio-button value="Peaches"> Male</mat-radio-button>
                    <mat-radio-button [checked]="true" value="Apples">Female</mat-radio-button>
         <mat-radio-button  value="uns">Unspecified</mat-radio-button>
                  </mat-radio-group>

               </div>
				
				     <mat-form-field fxFlex="auto">
          <mat-label>Select your date</mat-label>
          <input formControlName="date" (click)="formDatepickerRef.open()"
                 (focus)="formDatepickerRef.open()"
                 [matDatepicker]="formDatepickerRef"
                 matInput
                 readonly>
          <mat-datepicker-toggle [for]="formDatepickerRef" matSuffix></mat-datepicker-toggle>
         
          <mat-datepicker #formDatepickerRef></mat-datepicker>
		  <mat-error *ngIf="hasError('date', 'required')">Date is Required.</mat-error>
        </mat-form-field>
          
          </div>
		  
		  
		  
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
              <mat-form-field fxFlex="auto">
          <mat-label>Country Location</mat-label>
          <mat-select formControlName="countryLoc">
            <mat-option *ngFor="let country of countryList" [value]="country.name">{{ country.name }}</mat-option>
          </mat-select>
		  <mat-error *ngIf="hasError('countryLoc', 'required')">Country Location is Required.</mat-error>
        </mat-form-field>
		
		     <mat-form-field fxFlex="auto">
          <mat-label>Place of Birth</mat-label>
          <mat-select formControlName="placeofBirth">
            <mat-option *ngFor="let country of countryList" [value]="country.name">{{ country.name }}</mat-option>
          </mat-select>
		   <mat-error *ngIf="hasError('placeofBirth', 'required')">Place of Birth is Required.</mat-error>
        </mat-form-field >
		    <mat-form-field fxFlex="auto">
          <mat-label>Nationality</mat-label>
          <mat-select formControlName="Nationality">
            <mat-option *ngFor="let country of countryList" [value]="country.name">{{ country.name }}</mat-option>
          </mat-select>
		  <mat-error *ngIf="hasError('Nationality', 'required')">Nationality is Required.</mat-error>
        </mat-form-field>
        </div>
		  
		   <div class="px-3 py-4 " fxLayout="row" fxLayoutAlign="start center">
        <h2 class="title m-0">Passport-Check</h2>
      </div>
	  
	  
	  
	     <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
          <mat-form-field fxFlex="auto">
          <mat-label>Given Name</mat-label>
          <input formControlName="givenName" matInput required>
		  <mat-error *ngIf="hasError('givenName', 'required')">Given Name is Required.</mat-error>
        </mat-form-field>
		
		 <mat-form-field fxFlex="auto">
            <mat-label>Last Name</mat-label>
            <input formControlName="lastName" matInput>
			<mat-error *ngIf="hasError('lastName', 'required')">Last Name is Required.</mat-error>
          </mat-form-field>
         
        </div>
  
		       <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
              <mat-form-field fxFlex="auto">
          <mat-label>Issuing State</mat-label>
          <mat-select formControlName="issuingState">
            <mat-option *ngFor="let country of countryList" [value]="country.name">{{ country.name }}</mat-option>
          </mat-select>
		  <mat-error *ngIf="hasError('issuingState', 'required')">Issuing State is Required.</mat-error>
        </mat-form-field>
		
		     <mat-form-field fxFlex="auto">
          <mat-label>Nationality</mat-label>
          <mat-select formControlName="passportcheckNat">
            <mat-option *ngFor="let country of countryList" [value]="country.name">{{ country.name }}</mat-option>
          </mat-select>
		   <mat-error *ngIf="hasError('passportcheckNat', 'required')">Nationality is Required.</mat-error>
        </mat-form-field >
	
        </div>
		
		      <div style="margin-bottom: 15px;">
				 <mat-label >Document Type</mat-label>
                  <mat-radio-group  style="margin-top: 10px;" fxLayout="row" fxLayoutGap="16px">
                    <mat-radio-button value="Peaches"> Passport</mat-radio-button>
                    <mat-radio-button [checked]="true" value="Apples">ID-Card Type 1 (3 lines)</mat-radio-button>
         <mat-radio-button  value="uns">ID-Card Type 2 (2 lines)</mat-radio-button>
                  </mat-radio-group>

               </div>
			   
	       <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
    
				        <mat-form-field fxFlex="auto">
                       <mat-label>Identification Number</mat-label>
                       <input formControlName="idNumber" matInput required>
		             <mat-error *ngIf="hasError('idNumber', 'required')">Identification Number is Required.</mat-error>
                        </mat-form-field>
						
				     <mat-form-field fxFlex="auto">
          <mat-label>Date of Expiry</mat-label>
          <input formControlName="dateofExpiry" (click)="formDatepickerRef1.open()"
                 (focus)="formDatepickerRef1.open()"
                 [matDatepicker]="formDatepickerRef1"
                 matInput
                 readonly>
          <mat-datepicker-toggle [for]="formDatepickerRef1" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #formDatepickerRef1></mat-datepicker>
		  <mat-error *ngIf="hasError('dateofExpiry', 'required')">Date of Expiry is Required.</mat-error>
        </mat-form-field>
   
          </div>
		  

        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
          <button mat-button type="button">CANCEL</button>
          <button color="primary" mat-raised-button type="submit">SUBMIT</button>
        </div>
      </form>
	  
	  
	  
	  
	  
	  
    </div>

</div>
