<vex-secondary-toolbar current="CASE">
  <vex-breadcrumbs [crumbs]="['CASE', 'CASE AUDIT']" class="flex-auto"></vex-breadcrumbs>

  <button class="ml-2" color="primary" mat-icon-button type="button">
    <mat-icon [icIcon]="icMoreVert"></mat-icon>
  </button>
  <button class="ml-20" color="primary" mat-icon-button type="button" routerLinkActive="mat-accent" routerLink="/casemanager/casesummary">
    Summary
      </button>  <button class="ml-20" color="primary" mat-icon-button type="button" routerLinkActive="mat-accent" routerLink="/casemanager/case" >
    World-Check
      </button>
      <button class="ml-20" color="primary" mat-icon-button type="button" routerLinkActive="mat-accent" routerLink="/casemanager/caseaudit">
    Audit
      </button>
</vex-secondary-toolbar>

<div class="container py-gutter tran">
  <div class="navigation">
    <a mat-raised-button class="navigation-button" routerLink="/casemanager/case1" >
      << Go to Case Manager
    </a>
  </div>
  <div class="card overflow-hidden">

  <div  class="bg-card  px-gutter overflow-auto shadow"   gdColumn=" 4 / 1" >
    
	<div class="px-6 py-4 border-b" fxLayout="row" fxLayoutAlign="start center">
        <h2 class="title m-0">Audit List</h2>
		
      </div>
  <button class="ml-10" color="primary" mat-icon-button type="button" (click)="openLg(longContent)">
Add Note
  </button> 
    <table class="table "   >
      <thead>
      <tr>
        <td class="body-2 text-secondary">#</td>
        <td class="body-2 text-secondary">Date</td>
        <td class="body-2 text-secondary">	Actioned By</td>
        <td class="body-2 text-secondary">	Action</td>
        <td class="body-2 text-secondary">	Note</td>
		 
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="py-6 border-b">1</td>
        <td class="py-6 border-b">07-Jan-2020 09:21</td>
        <td class="py-6 border-b">Moe Alharazi</td>
        <td class="py-6 border-b"><a (click)="openLg(content)"> <button style="color:#00a5e2"> New Case added </button></a></td>
	   <td class="py-6 border-b">Moe Alharazi</td>
		
      </tr>
   
	     
      </tbody>
    </table>
  </div>

	</div>
	</div>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
<div class="p-gutter"
     gdColumns="1fr 1fr 1fr 1fr"
     gdColumns.lt-md="1fr 1fr"
     gdColumns.lt-sm="1fr"
     gdGap="16px">
</div>




<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">UPDATE CLIENT SETTINGS</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="modal-body">
    <div class="px-6 " fxLayout="column">
     <div>
 
      <mat-list role="list" class="custom-list">
        <mat-list-item role="listitem"><span class="w-40">Audit Date </span><span class="w-60">18-Dec-2019 08:29</span></mat-list-item>
		
        <mat-list-item role="listitem"><span class="w-40">Group </span><span class="w-60">
            Cooperativa Servicios Multiples de Tecnologia Avanzada, R.L - API(T)</span></mat-list-item>
			
	    <mat-list-item role="listitem"><span class="w-40">Audit Action </span><span class="w-60">
             Ashitha B N</span></mat-list-item>
        
      </mat-list>
	   
	  <br>
	  <table class="table px-6"   >
      <thead>
      <tr>
        <td class="body-2 text-secondary">Settings</td>
        <td class="body-2 text-secondary">Old Setting</td>
		<td class="body-2 text-secondary">New Setting</td>
      </tr>
      </thead>
	  
      <tbody>
      <tr>
        <td >Subscription To Date</td>
        <td >11-Dec-2019 18:30</td>
		<td >17-Feb-2020 18:30</td>
      </tr>
      </tbody>
	  
      </table>

</div>
</div>
</div>

  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>





<ng-template #longContent let-modal>
    <div class="modal-header">
    <h4 class="modal-title ">GROUP CUSTOMIZATION</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
 
 <div class="px-6 ">
 
      <mat-list role="list" class="custom-list">
        <mat-list-item role="listitem"><span class="w-40">Audit Date </span><span class="w-60"> 10-Dec-2019 04:43</span></mat-list-item>
		
        <mat-list-item role="listitem"><span class="w-40">Group </span><span class="w-60">
            Cooperativa Servicios Multiples de Tecnologia Avanzada, R.L - API(T)</span></mat-list-item>
			
	    <mat-list-item role="listitem"><span class="w-40">Audit Action </span><span class="w-60">
             Moe Alharazi</span></mat-list-item>
        
      </mat-list>
	  
	  <div class="px-6 py-4">
      <h4 class="modal-title">World-Check Resolution States</h4>
    </div>
	
	  <table class="table "   >
      <thead>
      <tr>
        <td class="body-2 text-secondary">Show</td>
        <td class="body-2 text-secondary">Resolution State</td>
		<td class="body-2 text-secondary">Risk Level</td>
		<td class="body-2 text-secondary">Reason</td>
		<td class="body-2 text-secondary">Mandatory</td>
      </tr>
      </thead>
	  
      <tbody>
      <tr>
        <td >X</td>
        <td >FALSE</td>
		<td >UNKNOWN</td>
		<td >No Match</td>
		<td >false</td>
      </tr>
      </tbody>
	  
	  <tbody>
      <tr>
        <td >X</td>
        <td >UNSPECIFIED</td>
		<td >UNKNOWN</td>
		<td >Unknown</td>
		<td >false</td>
      </tr>
      </tbody>
	  
	  <tbody>
      <tr>
        <td >X</td>
        <td >POSSIBLE</td>
		<td >HIGH
MEDIUM
LOW
UNKNOWN</td>
		<td >Partial Match</td>
		<td >false</td>
      </tr>
      </tbody>
	  
	  <tbody>
      <tr>
        <td >X</td>
        <td >POSITIVE</td>
		<td >HIGH
MEDIUM
LOW</td>
		<td >Full Match</td>
		<td >false</td>
      </tr>
      </tbody>
	  
      </table>

	
    </div>

        
	
      
  </div>
 <div class="modal-footer">
    
    
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cancel</button>
  </div>
	  
	  </ng-template> 
	  
	  
	  
	