<vex-secondary-toolbar current="Admin">
  <vex-breadcrumbs [crumbs]="['Admin', 'Summery']" class="flex-auto"></vex-breadcrumbs>

  <button class="ml-2" color="primary" mat-icon-button type="button">
    <mat-icon [icIcon]="icMoreVert"></mat-icon>
  </button>
</vex-secondary-toolbar>

<div class="container py-gutter tran">
  <div class="card overflow-hidden">

  <div  class="bg-card  px-gutter overflow-auto shadow"   gdColumn=" 4 / 1" >
    
	<div class="px-6 py-4 border-b" fxLayout="row" fxLayoutAlign="start center">
        <h2 class="title m-0">Audit List</h2>
      </div>

    <table class="table "   >
      <thead>
      <tr>
        <td class="body-2 text-secondary">#</td>
        <td class="body-2 text-secondary">Administrator</td>
        <td class="body-2 text-secondary">	Actioned On</td>
        <td class="body-2 text-secondary">	Event</td>
        <td class="body-2 text-secondary">	Date</td>
		 
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="py-6 border-b">1</td>
        <td class="py-6 border-b">Ashitha B N</td>
        <td class="py-6 border-b">Cooperativa Servicios Multiples de Tecnologia Avanzada, R.L - API(T)</td>
        <td class="py-6 border-b"><a (click)="openLg(content)"> <button style="color:#00a5e2"> Client Settings Update </button></a></td>
		<td class="py-6 border-b">	07-Aug-2019 18:58</td>
		
      </tr>
        <tr>
        <td class="py-6 border-b">2</td>
        <td class="py-6 border-b">Moe Alharazi</td>
        <td class="py-6 border-b">Cooperativa Servicios Multiples de Tecnologia Avanzada, R.L - API(T)</td>
      <td class="py-6 border-b"><a (click)="openLg(longContent)"> <button style="color:#00a5e2"> Group Resolution Toolkit Update </button> </a></td>
		<td class="py-6 border-b">	15-Oct-2019 18:58</td>
		
      </tr>
	      <tr>
        <td class="py-6 border-b">3</td>
        <td class="py-6 border-b">Moe Alharazi</td>
        <td class="py-6 border-b">Cooperativa Servicios Multiples de Tecnologia Avanzada, R.L - API(T)</td>
         <td class="py-6 border-b"><a (click)="openScrollableUser(longUser)"> <button style="color:#00a5e2"> Group Update </button> </a></td>
		<td class="py-6 border-b">	07-Mar-2019 18:58</td>
		
      </tr>
	    <tr>
        <td class="py-6 border-b">4</td>
        <td class="py-6 border-b">Ashitha B N</td>
        <td class="py-6 border-b">Cooperativa Servicios Multiples de Tecnologia Avanzada, R.L - API(T)</td>
         <td class="py-6 border-b"><a (click)="openLg(content)"> <button style="color:#00a5e2"> Client Settings Update </button></a></td>
		<td class="py-6 border-b">	20-Nov-2019 18:58</td>
		
      </tr>
	  <tr>
        <td class="py-6 border-b">5</td>
        <td class="py-6 border-b">Ashitha B N</td>
        <td class="py-6 border-b">Cooperativa Servicios Multiples de Tecnologia Avanzada, R.L - API(T)</td>
        <td class="py-6 border-b"><a (click)="openScrollableResolutiontool(longResolutiontool)"> <button style="color:#00a5e2"> Client Status Update </button></a></td>
		<td class="py-6 border-b">	07-Aug-2019 18:58</td>
		
      </tr>
	  <tr>
        <td class="py-6 border-b">6</td>
        <td class="py-6 border-b">Bhavani Cc</td>
        <td class="py-6 border-b">Cooperativa Servicios Multiples de Tecnologia Avanzada, R.L - API(T)</td>
        <td class="py-6 border-b"><a (click)="openScrollableResolutiontool(longResolutiontool)"> <button style="color:#00a5e2"> Client Status Update </button></a></td>
		<td class="py-6 border-b">	07-Aug-2019 18:58</td>
		
      </tr>
      </tbody>
    </table>
  </div>

	</div>
	</div>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
<div class="p-gutter"
     gdColumns="1fr 1fr 1fr 1fr"
     gdColumns.lt-md="1fr 1fr"
     gdColumns.lt-sm="1fr"
     gdGap="16px">
</div>




<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">UPDATE CLIENT SETTINGS</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="modal-body">
    <div class="px-6 " fxLayout="column">
     <div>
 
      <mat-list role="list" class="custom-list">
        <mat-list-item role="listitem"><span class="w-40">Audit Date </span><span class="w-60">18-Dec-2019 08:29</span></mat-list-item>
		
        <mat-list-item role="listitem"><span class="w-40">Group </span><span class="w-60">
            Cooperativa Servicios Multiples de Tecnologia Avanzada, R.L - API(T)</span></mat-list-item>
			
	    <mat-list-item role="listitem"><span class="w-40">Audit Action </span><span class="w-60">
             Ashitha B N</span></mat-list-item>
        
      </mat-list>
	   
	  <br>
	  <table class="table px-6"   >
      <thead>
      <tr>
        <td class="body-2 text-secondary">Settings</td>
        <td class="body-2 text-secondary">Old Setting</td>
		<td class="body-2 text-secondary">New Setting</td>
      </tr>
      </thead>
	  
      <tbody>
      <tr>
        <td >Subscription To Date</td>
        <td >11-Dec-2019 18:30</td>
		<td >17-Feb-2020 18:30</td>
      </tr>
      </tbody>
	  
      </table>

</div>
</div>
</div>

  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>





<ng-template #longContent let-modal>
    <div class="modal-header">
    <h4 class="modal-title ">GROUP CUSTOMIZATION</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
 
 <div class="px-6 ">
 
      <mat-list role="list" class="custom-list">
        <mat-list-item role="listitem"><span class="w-40">Audit Date </span><span class="w-60"> 10-Dec-2019 04:43</span></mat-list-item>
		
        <mat-list-item role="listitem"><span class="w-40">Group </span><span class="w-60">
            Cooperativa Servicios Multiples de Tecnologia Avanzada, R.L - API(T)</span></mat-list-item>
			
	    <mat-list-item role="listitem"><span class="w-40">Audit Action </span><span class="w-60">
             Moe Alharazi</span></mat-list-item>
        
      </mat-list>
	  
	  <div class="px-6 py-4">
      <h4 class="modal-title">World-Check Resolution States</h4>
    </div>
	
	  <table class="table "   >
      <thead>
      <tr>
        <td class="body-2 text-secondary">Show</td>
        <td class="body-2 text-secondary">Resolution State</td>
		<td class="body-2 text-secondary">Risk Level</td>
		<td class="body-2 text-secondary">Reason</td>
		<td class="body-2 text-secondary">Mandatory</td>
      </tr>
      </thead>
	  
      <tbody>
      <tr>
        <td >X</td>
        <td >FALSE</td>
		<td >UNKNOWN</td>
		<td >No Match</td>
		<td >false</td>
      </tr>
      </tbody>
	  
	  <tbody>
      <tr>
        <td >X</td>
        <td >UNSPECIFIED</td>
		<td >UNKNOWN</td>
		<td >Unknown</td>
		<td >false</td>
      </tr>
      </tbody>
	  
	  <tbody>
      <tr>
        <td >X</td>
        <td >POSSIBLE</td>
		<td >HIGH
MEDIUM
LOW
UNKNOWN</td>
		<td >Partial Match</td>
		<td >false</td>
      </tr>
      </tbody>
	  
	  <tbody>
      <tr>
        <td >X</td>
        <td >POSITIVE</td>
		<td >HIGH
MEDIUM
LOW</td>
		<td >Full Match</td>
		<td >false</td>
      </tr>
      </tbody>
	  
      </table>

	
    </div>

        
	
      
  </div>
 <div class="modal-footer">
    
    
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cancel</button>
  </div>
	  
	  </ng-template> 
	  
	  
	  
	<!--  <ng-template #longUser let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Groups</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         
<div class="px-6">
          <h2 class="title m-0">Groups</h2>
        </div>
 <div class="px-6 py-4">
    
      <h4 class="body-2 text-secondary m-0"><p> Group :  <span>  Cooperativa Servicios Multiples de Tecnologia Avanzada, R.L - API(T)</span>

</p>
</h4>
    </div>

        <div class="px-6">
      <h2 class="title mt-0 mb-2">Edit Product Entitlements</h2>
	  
	 
	 
    </div>
   
        <div fxLayout="column" fxLayout.gt-sm="row">
              <div class="p-6">

                <div fxLayout="column" fxLayoutGap="12px">
                  <mat-checkbox [checked]="true" color="primary">World-Check</mat-checkbox>
                  <mat-checkbox [checked]="true" color="primary">Passport Check</mat-checkbox>
                
                </div>
              </div>


            </div>
  	 
  
    

          </div>


         <div class="modal-footer">
    <button color="primary" mat-raised-button type="button">Save</button>
    
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cancel</button>
  </div>
</ng-template>-->









<!--<ng-template #longAuto let-modal>
  <div class="modal-header">
    <h4 class="modal-title">World-Check Auto Resolution</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  
  
   <div class="px-6">
          <h2 class="title m-0">Groups</h2>
        </div>
 <div class="px-6 py-4">
    
      <h4 class="body-2 text-secondary m-0"><p> Group :  <span>  Cooperativa Servicios Multiples de Tecnologia Avanzada, R.L - API(T)</span>

</p>
</h4>
    </div>

        <div class="p-6">
      <h2 class="title mt-0 mb-4">Screening Custom Fields</h2>
	  <h3 class="title mt-0 mb-4">Custom Fields Configuration</h3>
      <h4 class="body-2 text-secondary m-0">Create unique fields for use during case creation  </h4>
	  
	 
    </div>

    <hr>
    <div class="p-6 ">

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">


        <mat-form-field>
          <mat-label>Field 1</mat-label>
          <input matInput required>
        </mat-form-field>
        <mat-checkbox color="primary" [checked]="true">Show</mat-checkbox>
        <mat-checkbox color="accent" [checked]="true">Mandatory</mat-checkbox>


      </div>
      <button color="primary" mat-raised-button type="button">Add Row</button>

    </div>
    <div class="p-6 ">
      <h4 class="modal-title">Daily Email Schedule:</h4>
    </div>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">


      <mat-form-field fxFlex="auto">
        <mat-label>Members receive emails daily at</mat-label>
        <input matInput required>
      </mat-form-field>

      <mat-form-field fxFlex="auto">
        <mat-label>Locale:</mat-label>
        <input matInput>
      </mat-form-field>

    </div>





   

  </div>
  <div class="modal-footer">
    <button color="primary" mat-raised-button type="button">Save</button>

    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cancel</button>
  </div>
</ng-template>-->


























<!--<ng-template #longContentworldcheck let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Groups</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="p-6">
      <h2 class="title mt-0 mb-4">Custom Fields Configuration</h2>
      <h4 class="body-2 text-secondary m-0">Create unique fields for use during case creation </h4>
    </div>
    <hr>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
      <div class="p-6 ">
        <span>Auto Include New Data Sources :</span> &nbsp; &nbsp; <mat-slide-toggle color="primary" [checked]="true">
        </mat-slide-toggle>
      </div>
      <div class="p-6 ">
        <span>Subscription Details :</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <mat-slide-toggle color="primary"
          [checked]="true"></mat-slide-toggle>

      </div>
    </div>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
      <div class="p-6 ">
        <span>Exclude Low Quality Aliases :</span> &nbsp; &nbsp; &nbsp; &nbsp; <mat-slide-toggle color="primary"
          [checked]="true"></mat-slide-toggle>
      </div>
      <div class="p-6 ">
        <span>Include Native Aliases :</span> &nbsp; &nbsp; &nbsp; &nbsp; <mat-slide-toggle color="primary"
          [checked]="true"></mat-slide-toggle>
      </div>
    </div>
    <div class="p-6 ">

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
        <span>Include Native Aliases :</span>&nbsp; &nbsp; &nbsp; &nbsp; <mat-form-field>
          <mat-label>C1-C4</mat-label>
          <input disabled matInput>
        </mat-form-field>


      </div>
      <button color="primary" mat-raised-button type="button">Add Row</button>

    </div>
    <div class="p-6 ">
      <h4 class="modal-title">Daily Email Schedule:</h4>
    </div>

    <div>



      <vex-page-layout-content class="vex-tabs p-0" vexContainer>
        <mat-tab-group>

          <mat-tab label="Initial Screening">

            <div class="px-6 py-4" fxLayout="row" fxLayoutAlign="start center">
              <h3>Initial Screening</h3>
            </div>

            <div class="p-6 ">

              <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                <span>Name match threshold:</span> &nbsp; <mat-form-field>
                  <mat-label>90</mat-label>
                  <input disabled matInput>
                </mat-form-field>

                <mat-slider min="1" max="10" thumbLabel tickInterval="1">Fuzzy</mat-slider>
              </div>


            </div>
            <div fxLayout="column" fxLayout.gt-sm="row">
              <div class="p-6">

                <div fxLayout="column" fxLayoutGap="12px">
                  <mat-checkbox>Sources</mat-checkbox>
                  <mat-checkbox [checked]="true" color="primary">Law Enforcement</mat-checkbox>
                  <mat-checkbox [checked]="true" color="accent">Other Bodies</mat-checkbox>
                  <mat-checkbox [checked]="true" color="warn">PEP</mat-checkbox>
                  <mat-checkbox [checked]="true" disabled>Regularity Enforcement</mat-checkbox>
                  <mat-checkbox [indeterminate]="true">Sanctions</mat-checkbox>
                </div>
              </div>


            </div>

          </mat-tab>

          <mat-tab label="Ongoing Screening">
            <div class="px-6 py-4" fxLayout="row" fxLayoutAlign="start center">
              <h3>Initial Screening</h3>
            </div>

            <div class="p-6 ">

              <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                <span>Name match threshold:</span> &nbsp; <mat-form-field>
                  <mat-label>78.18</mat-label>
                  <input disabled matInput>
                </mat-form-field>

                <mat-slider min="1" max="10" thumbLabel tickInterval="1">Fuzzy</mat-slider>
              </div>


            </div>
            <div fxLayout="column" fxLayout.gt-sm="row">
              <div class="p-6">

                <div fxLayout="column" fxLayoutGap="12px">
                  <mat-checkbox>Sources</mat-checkbox>
                  <mat-checkbox [checked]="true" color="primary">Primary</mat-checkbox>
                  <mat-checkbox [checked]="true" color="accent">Accent</mat-checkbox>
                  <mat-checkbox [checked]="true" color="warn">Warn</mat-checkbox>
                  <mat-checkbox [checked]="true" disabled>Disabled</mat-checkbox>
                  <mat-checkbox [indeterminate]="true">Indeterminate</mat-checkbox>
                </div>
              </div>


            </div>

          </mat-tab>

        </mat-tab-group>
      </vex-page-layout-content>



    </div>





  </div>
  <div class="modal-footer">
    <button color="primary" mat-raised-button type="button">Edit</button>
    <button color="primary" mat-raised-button type="button">Revert</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">
      <<Back </button> </div>

	  </ng-template> -->
	  
	  
	  
	  <ng-template #longResolutiontool let-modal>
      <div class="modal-header">
    <h4 class="modal-title">Update Client Status</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="modal-body">
    <div class="px-6 " fxLayout="column">
     <div>
 
      <mat-list role="list" class="custom-list">
        <mat-list-item role="listitem"><span class="w-40">Audit Date </span><span class="w-60">18-Dec-2019 08:29</span></mat-list-item>
		
        <mat-list-item role="listitem"><span class="w-40">Group </span><span class="w-60">
            Cooperativa Servicios Multiples de Tecnologia Avanzada, R.L - API(T)</span></mat-list-item>
			
	    <mat-list-item role="listitem"><span class="w-40">Audit Action </span><span class="w-60">
             Ashitha B N</span></mat-list-item>
        	
	    <mat-list-item role="listitem"><span class="w-40">Client Status changed to  </span><span class="w-60">
            Active</span></mat-list-item>
      </mat-list>
	   


</div>
</div>
</div>

  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>









