<div class="card" fxLayout="column" fxLayout.gt-sm="row">
   <div @fadeInUp class="card" fxFlex="auto">
       <div class="p-6">
      <h2 class="title mt-0 mb-4">World-Check</h2>
       <h2 class="title m-0">Batch Screening</h2>
    </div>
	 
     <form [formGroup]="componentsoverviewButtons" (ngSubmit)="componentsoverviewOnsubmit()" class="p-6" fxLayout="column" fxLayoutGap="16px">
       

        <div fxLayout="row"  class="title mt-0 mb-4"  >
          <mat-form-field >
          <mat-label>Batch Name</mat-label>
          <input formControlName="batchName" matInput required>
		  <mat-error *ngIf="hasError('batchName', 'required')">Batch Name is required</mat-error>
        </mat-form-field>
		
		
         
        </div>
      
  <div >
      <h2 class="title mt-0 mb-2">Batch File</h2>
      <h4 class="body-2 text-secondary mb-2">Important: Please review the batch upload guidelines and file format before screening</h4>
      <input type='file'>
      <button  mat-raised-button color="primary">Upload File</button>
    </div>
    
		  
		  
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
          <button mat-button type="button">CANCEL</button>
          <button color="primary" mat-raised-button type="submit">Run Batch Screening</button>
        </div>
      </form>
    </div>
</div>
