<div class="card" fxLayout="column" fxLayout.gt-sm="row">
  <div  class="card" fxFlex="auto">
    <div class="px-6 py-4 border-b" fxLayout="row" fxLayoutAlign="start center">
      <h2 class="title m-0">Individual Screening</h2>
    </div>

    <form [formGroup]="individualScreeningForm" (ngSubmit)="createIndividualScreening()" class="p-6" fxLayout="column"
      fxLayoutGap="16px">


      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
        <mat-form-field fxFlex="auto">
          <mat-label>Name</mat-label>
          <input formControlName="name" matInput required>
          <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="auto">
          <mat-label>Case ID</mat-label>
          <input formControlName="caseId" matInput [value]=" " >

          <!-- <mat-error *ngIf="hasError('caseId', 'required')">Case Id is Required.</mat-error> -->
        </mat-form-field>

      </div>


      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
        <div style="margin-top: 16px;">
          <mat-label>Gender</mat-label>
          <mat-radio-group fxLayout="row" fxLayoutGap="16px" formControlName="genderValue">
            <mat-radio-button *ngFor="let gender of genderList"   value={{gender}}> {{gender | titlecase}}</mat-radio-button>
          </mat-radio-group>

        </div>

        <mat-form-field fxFlex="auto">
          <mat-label>Select your date</mat-label>
          <input formControlName="date" (click)="formDatepickerRef.open()" (focus)="formDatepickerRef.open()"
            [matDatepicker]="formDatepickerRef" matInput readonly>
          <mat-datepicker-toggle [for]="formDatepickerRef" matSuffix></mat-datepicker-toggle>

          <mat-datepicker #formDatepickerRef></mat-datepicker>
          <mat-error *ngIf="hasError('date', 'required')">Date is Required.</mat-error>
        </mat-form-field>

      </div>



      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
        <mat-form-field fxFlex="auto">
          <mat-label>Country Location</mat-label>
          <mat-select formControlName="countryLoc">
            <!-- <mat-option value="new">United States Of America</mat-option>
            <mat-option value="new">Australia</mat-option>
            <mat-option value="new">India</mat-option> -->
            <mat-option *ngFor="let country of countryList" [value]="country.id">{{ country.name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('countryLoc', 'required')">Country Location is Required.</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="auto">
          <mat-label>Place of Birth</mat-label>
          <mat-select formControlName="placeofBirth">
            <!-- <mat-option value="new">New York</mat-option>
            <mat-option value="new">Washington</mat-option>
            <mat-option value="new">Mumbai</mat-option>
            <mat-option value="new">Canada</mat-option>
            <mat-option value="new">Toranto </mat-option> -->
            <mat-option *ngFor="let country of countryList" [value]="country.id">{{ country.name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('placeofBirth', 'required')">Place of Birth is Required.</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="auto">
          <mat-label>Nationality</mat-label>
          <mat-select formControlName="nationality">
            <!-- <mat-option value="new">American</mat-option>
            <mat-option value="new">Mexican</mat-option>
            <mat-option value="new">Russian </mat-option>
            <mat-option value="new">Bulgarian </mat-option>
            <mat-option value="new">Indian </mat-option> -->
            <mat-option *ngFor="let country of countryList" [value]="country.id">{{ country.name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('nationality', 'required')">Nationality is Required.</mat-error>
        </mat-form-field>
      </div>


      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
        <button mat-button type="button">CANCEL</button>
        <button color="primary" mat-raised-button type="submit">SUBMIT</button>
      </div>
    </form>
  </div>

</div>
