<vex-page-layout mode="simple">
  <vex-secondary-toolbar current="SCREENING">
    <vex-breadcrumbs [crumbs]="['SCREENING']" class="flex-auto"></vex-breadcrumbs>
  
    <button class="ml-2" color="primary" mat-icon-button type="button">
    
    </button>
  </vex-secondary-toolbar>

  <vex-page-layout-content fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="24px" vexContainer>
    <div @stagger
         [fxFlex]="menuWidth"
         class="sticky"
		 style="
		 margin-right: 0px !important;
flex-direction: column;
box-sizing: border-box;
display: flex;
flex-grow: 1;
flex-shrink: 1;
flex-basis: 200px!important;
max-width: 200px!important;
min-width: 200px!important;"
         fxHide
         fxLayout="column"
         fxShow.gt-sm>
      <mat-list class="navigation" fxFlex="grow">
        <h3 @fadeInRight matSubheader>Mode</h3>
         <mat-list-item (click)="currentForm = 'single'"  @fadeInRight class="cursor-pointer" matRipple>
          <h4 matLine>Single</h4>
        </mat-list-item>
        <mat-list-item (click)="currentForm = 'batch'"@fadeInRight class="cursor-pointer" matRipple>
          <h4 matLine>Batch</h4>
        </mat-list-item> 
        <mat-list-item class="color-fade">
          <h4 matLine>Entity Type</h4>
        </mat-list-item>
        <mat-list-item (click)="currentForm = 'individual'" @fadeInRight class="cursor-pointer" matRipple>
          <h4 matLine>Individual</h4>
        </mat-list-item>
        <mat-list-item (click)=" currentForm = 'organization'" @fadeInRight class="cursor-pointer" matRipple>
          <h4 matLine>Organization</h4>
        </mat-list-item>
        <mat-list-item (click)="currentForm ='vessel'" @fadeInRight class="cursor-pointer" matRipple>
          <h4 matLine>Vessel</h4>
        </mat-list-item>
        <mat-list-item (click)="currentForm ='unspecified'" @fadeInRight class="cursor-pointer" matRipple>
          <h4 matLine>Unspecified</h4>
        </mat-list-item>
      <!--<mat-list-item >
          <h4 matLine>Check Types</h4>
        </mat-list-item>
        <mat-list-item >
          <h4 matLine>World-Check</h4>
        </mat-list-item>-->
        <mat-list-item (click)="currentForm ='passportcheck'" @fadeInRight class="cursor-pointer" matRipple>
          <h4 matLine>Passport-Check</h4>
        </mat-list-item>

      </mat-list>
    </div>

    <div @stagger   fxLayout="column" fxLayoutGap="24px">
       <span *ngIf="currentForm === 'single'">  <vex-single @fadeInUp></vex-single></span>
       <span *ngIf="currentForm === 'batch'"> <vex-batch @fadeInUp></vex-batch></span>
   
      <span *ngIf="currentForm === 'individual'"><vex-individual ></vex-individual></span>
      <span *ngIf="currentForm === 'organization'"><vex-organization ></vex-organization></span>
      <span *ngIf="currentForm === 'vessel'"><vex-vessel ></vex-vessel></span>
      <span *ngIf="currentForm === 'unspecified'"><vex-unspecified ></vex-unspecified></span>

       <span *ngIf="currentForm === 'passportcheck'"> <vex-passport-check @fadeInUp></vex-passport-check></span>
     
    </div>
  </vex-page-layout-content>
</vex-page-layout>

