<vex-page-layout mode="simple">
  <vex-secondary-toolbar current="SCREENING">
    <vex-breadcrumbs [crumbs]="['SCREENING']" class="flex-auto"></vex-breadcrumbs>
  
    <button class="ml-2" color="primary" mat-icon-button type="button">
    
    </button>
  </vex-secondary-toolbar>

  <vex-page-layout-content fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="24px" vexContainer>
    <div @stagger
         [fxFlex]="menuWidth"
         class="sticky top-6"
         fxHide
         fxLayout="column"
         fxShow.gt-sm>
      <mat-list class="navigation" fxFlex="grow">
        <h3 @fadeInRight matSubheader>Mode</h3>
        <!-- <mat-list-item (click)="scrollTo('individual')" @fadeInRight class="cursor-pointer" matRipple>
          <h4 matLine>Single</h4>
        </mat-list-item>
        <mat-list-item (click)="scrollTo('batch')" @fadeInRight class="cursor-pointer" matRipple>
          <h4 matLine>Batch</h4>
        </mat-list-item> -->
        <mat-list-item class="color-fade">
          <h4 matLine>Entity Type</h4>
        </mat-list-item>
        <mat-list-item (click)="currentForm = 'individual'" @fadeInRight class="cursor-pointer" matRipple>
          <h4 matLine>Individual</h4>
        </mat-list-item>
        <mat-list-item (click)=" currentForm = 'organization'" @fadeInRight class="cursor-pointer" matRipple>
          <h4 matLine>Organization</h4>
        </mat-list-item>
        <mat-list-item (click)="currentForm ='vessel'" @fadeInRight class="cursor-pointer" matRipple>
          <h4 matLine>Vessel</h4>
        </mat-list-item>
        <mat-list-item (click)="currentForm ='unspecified'" @fadeInRight class="cursor-pointer" matRipple>
          <h4 matLine>Unspecified</h4>
        </mat-list-item>
        <!-- <mat-list-item >
          <h4 matLine>Check Types</h4>
        </mat-list-item>
        <mat-list-item >
          <h4 matLine>World-Check</h4>
        </mat-list-item>
        <mat-list-item (click)="scrollTo('passportcheck')" @fadeInRight class="cursor-pointer" matRipple>
          <h4 matLine>Passport-Check</h4>
        </mat-list-item> -->

      </mat-list>
    </div>

    <div @stagger class="max-w-full" fxLayout="column" fxLayoutGap="24px">
      <!-- <vex-single @fadeInUp></vex-single>
      <vex-batch @fadeInUp></vex-batch> -->
    
      <span *ngIf="currentForm === 'individual'"><vex-individual ></vex-individual></span>
      <span *ngIf="currentForm === 'organization'"><vex-organization ></vex-organization></span>
      <span *ngIf="currentForm === 'vessel'"><vex-vessel ></vex-vessel></span>
      <span *ngIf="currentForm === 'unspecified'"><vex-unspecified ></vex-unspecified></span>

      <!-- <vex-passport-check @fadeInUp></vex-passport-check> -->
     
    </div>
  </vex-page-layout-content>
</vex-page-layout>

