.bold-font{
    font-weight: 500; 
    cursor: pointer;
}
.bold-font:hover{
    font-weight: bold;
}
.navigation-button {
    border: 1px solid blue;
    height: 27px;
    margin-top: 5px;
    width: 150px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-top: 2px;
}