<div class="card" fxLayout="column" fxLayout.gt-sm="row">
 <div @fadeInUp class="card" fxFlex="auto">
      <div class="px-6 py-4 border-b" fxLayout="row" fxLayoutAlign="start center">
        <h2 class="title m-0">KEY DATA</h2>
      </div>

      <mat-card class="mb-3">
   
      <mat-list role="list" class="custom-list">
        <mat-list-item role="listitem"><span class="w-40">Name  </span><span class="w-60">Mohamed Alharazi</span>
        </mat-list-item>
        <mat-list-item role="listitem"><span class="w-40">Record Update  </span><span class="w-60">Entered Date :&nbsp;&nbsp;</span> <span>12-May-2019 </span>
            ,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span> Updated Date :&nbsp;&nbsp;</span> <span>11-Dec-2019</span></mat-list-item>
        <mat-list-item role="listitem"><span class="w-40">Category  </span><span class="w-60">INDIVIDUAL </span></mat-list-item>
        <mat-list-item role="listitem"><span class="w-40">Gender </span><span class="w-60"> MALE</span></mat-list-item>
        <mat-list-item role="listitem"><span class="w-40">Nationality  </span><span class="w-60">    India</span></mat-list-item>
   
      </mat-list>
    </mat-card>
 <div class="px-6 py-4 border-b" fxLayout="row" fxLayoutAlign="start center">
        <h2 class="title m-0">Locatio Details</h2>
      </div>
      <mat-card class="mb-3">
      
      <mat-list role="list" class="custom-list">
        <mat-list-item role="listitem"><span class="w-40">Street  </span><span class="w-60">...</span>
        </mat-list-item>
      <mat-list-item role="listitem"><span class="w-40">City  </span><span class="w-60"> 	Bihar</span>
        </mat-list-item>
		   <mat-list-item role="listitem"><span class="w-40">Region  </span><span class="w-60"> 	Bihar</span>
        </mat-list-item>
		   <mat-list-item role="listitem"><span class="w-40">Postcode  </span><span class="w-60">...</span>
        </mat-list-item>
		   <mat-list-item role="listitem"><span class="w-40">Country  </span><span class="w-60">INDIA (IND)</span>
        </mat-list-item>
	        <mat-list-item role="listitem"><span class="w-40">Street  </span><span class="w-60">...</span>
        </mat-list-item>
      <mat-list-item role="listitem"><span class="w-40">City  </span><span class="w-60"> 	Jagatdal</span>
        </mat-list-item>
		   <mat-list-item role="listitem"><span class="w-40">Region  </span><span class="w-60"> 	West Bengal</span>
        </mat-list-item>
		   <mat-list-item role="listitem"><span class="w-40">Postcode  </span><span class="w-60">...</span>
        </mat-list-item>
		   <mat-list-item role="listitem"><span class="w-40">Country  </span><span class="w-60">INDIA (IND)</span>
        </mat-list-item>
      </mat-list>
    </mat-card>
    </div>

</div>
