<vex-secondary-toolbar current="Case">
  <vex-breadcrumbs [crumbs]="['Case', 'Case Record']" class="flex-auto"></vex-breadcrumbs>

  <button class="ml-2" color="primary" mat-icon-button type="button">
    <mat-icon [icIcon]="icMoreVert"></mat-icon>
  </button>
  <button class="ml-20" color="primary" mat-icon-button type="button" routerLink="/casemanager/casesummery">
    Summary
      </button>  <button class="ml-20" color="primary" mat-icon-button type="button" routerLink="/casemanager/case" >
    World-Check
      </button>
      <button class="ml-20" color="primary" mat-icon-button type="button" routerLink="/casemanager/caseaudit">
    Audit
      </button>
</vex-secondary-toolbar>
<div class="p-gutter" vexContainer>
  <div class="navigation">
    <button class="navigation-button" routerLink="/casemanager/case1" >
      <- Go to Case Manager
    </button>
  </div>
  <div>
    <mat-card class="mb-3">
      <h3>Case Record</h3>
      <hr class="mt-2">
      <mat-list role="list" class="custom-list">
        <mat-list-item role="listitem"><span class="w-40">Name </span><span class=""> ram</span></mat-list-item>
        <mat-list-item role="listitem"><span class="w-40 pr-2">ID</span><span class="w-60">ram123</span>
        </mat-list-item>
        <mat-list-item role="listitem"><span class="w-40 pr-2">Group Name</span><span class="w-60">Cooperativa Servicios Multiples de Tecnologia Avanzada, R.L - API(T)</span>
        </mat-list-item>
        <mat-list-item role="listitem"><span class="w-40 pr-2">Ongoing Screening</span><span
            class="w-60"> No</span>
        </mat-list-item>
        <mat-list-item role="listitem"><span class="w-40 pr-2">Status</span><span class="w-60"> Unarchived</span>
        </mat-list-item>
        <mat-list-item role="listitem"><span class="w-40 pr-2">Gender</span><span class="w-60">Male</span>
        </mat-list-item>
        <mat-list-item role="listitem"><span class="w-40 pr-2">Date of Birth</span><span class="w-60">10-june-1991</span></mat-list-item>
        <mat-list-item role="listitem"><span class="w-40 pr-2">Nationality</span><span
            class="w-60">United States</span></mat-list-item>
        <mat-list-item role="listitem"><span class="w-40 pr-2">Country Location</span><span
            class="w-60">United States</span></mat-list-item>
			
			  <mat-list-item role="listitem"><span class="w-40 pr-2">Place of Birth</span><span
            class="w-60">United States</span></mat-list-item>
			
			  <mat-list-item role="listitem"><span class="w-40 pr-2">EDD Request Raised</span><span
            class="w-60">No</span></mat-list-item>
      </mat-list>
    </mat-card>

    <mat-card class="mb-3">
      <h3>Key Findings</h3>
      <hr class="mt-2">
      <mat-list role="list" class="custom-list">
     
        <mat-list-item role="listitem"><span class="w-40">World-Check </span><span class="w-60"> Total Matches:12-May-2019
            </span></mat-list-item>
    
      </mat-list>
    </mat-card>


 <mat-card class="mb-3">
       
      <h3>Notes - showing 0 of 0</h3>
      <hr class="mt-2">

<div class="px-6 py-4 " fxLayout="row" fxLayoutAlign="start center">
        <h2 class="title m-0"><a routerLink="/casemanager/caseaudit">Add New Note</a></h2>
      </div>

    <table class="table "   >
      <thead>
      <tr>
        <td class="body-2 text-secondary">#</td>
        <td class="body-2 text-secondary">Note</td>
        <td class="body-2 text-secondary">	Created by</td>
    
        <td class="body-2 text-secondary">	Date</td>
		 
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="py-6 border-b">1</td>
        <td class="py-6 border-b">Note</td>
        <td class="py-6 border-b">Created by</td>
 
		<td class="py-6 border-b">	Date</td>
		
      </tr>
       
      </tbody>
    </table>

 </mat-card>
 
 
     <mat-card class="mb-3">
      <h3>Activity</h3>
      <hr class="mt-2">
      <mat-list role="list" class="custom-list">
        <mat-list-item role="listitem"><span class="w-40">Case Created </span><span class=""> ram</span></mat-list-item>
        <mat-list-item role="listitem"><span class="w-40 pr-2">Last Modified by</span><span class="w-60">ram123</span>
        </mat-list-item>
        <mat-list-item role="listitem"><span class="w-40 pr-2">Last Action</span><span class="w-60">Cooperativa Servicios Multiples de Tecnologia Avanzada, R.L - API(T)</span>
        </mat-list-item>
        <mat-list-item role="listitem"><span class="w-40 pr-2">Last Modification Date</span><span
            class="w-60"> No</span>
        </mat-list-item>
        <mat-list-item role="listitem"><span class="w-40 pr-2">Ongoing Screening Status</span><span class="w-60"> Unarchived</span>
        </mat-list-item>
        <mat-list-item role="listitem"><span class="w-40 pr-2">Gender</span><span class="w-60">Last Screening Date</span>
        </mat-list-item>
        <mat-list-item role="listitem"><span class="w-40 pr-2">Assignee</span><span class="w-60">10-june-1991</span></mat-list-item>
 
      </mat-list>
    </mat-card>
   
  </div>
 


</div>
