<vex-secondary-toolbar current="Admin">
  <vex-breadcrumbs [crumbs]="['Admin', 'Summary']" class="flex-auto"></vex-breadcrumbs>

  <button class="ml-2" color="primary" mat-icon-button type="button">
    <mat-icon [icIcon]="icMoreVert"></mat-icon>
  </button>
</vex-secondary-toolbar>
<div class="p-gutter" gdColumns="1fr 1fr" gdColumns.lt-md="1fr 1fr" gdColumns.lt-sm="1fr" gdGap="16px" vexContainer>

  <div>
    <mat-card class="mb-3">
      <h3>Client Details</h3>
      <hr class="mt-2">
      <mat-list role="list" class="custom-list">
        <mat-list-item role="listitem"><span class="w-40">Client Name </span><span class="w-60">Cooperativa Servicios
            Multiples de Tecnologia Avanzada, R.L - API(T)</span></mat-list-item>
        <mat-list-item role="listitem"><span class="w-40 pr-2">Client Code</span><span class="w-60">A-01636179-T</span>
        </mat-list-item>
        <mat-list-item role="listitem"><span class="w-40 pr-2">Client Description</span><span class="w-60"></span>
        </mat-list-item>
        <mat-list-item role="listitem"><span class="w-40 pr-2">Salesforce ID</span><span
            class="w-60">3780412,3911495</span>
        </mat-list-item>
        <mat-list-item role="listitem"><span class="w-40 pr-2">Number of Users</span><span class="w-60">1</span>
        </mat-list-item>
        <mat-list-item role="listitem"><span class="w-40 pr-2">Number of Searches</span><span class="w-60">500</span>
        </mat-list-item>
        <mat-list-item role="listitem"><span class="w-40 pr-2">Number of World-Check and Watchlist OGS
            Searches</span><span class="w-60">500</span></mat-list-item>
        <mat-list-item role="listitem"><span class="w-40 pr-2">Number of Media-Check OGS searches</span><span
            class="w-60">0</span></mat-list-item>
        <mat-list-item role="listitem"><span class="w-40 pr-2">Number of Vessel Check searches</span><span
            class="w-60">0</span></mat-list-item>
      </mat-list>
    </mat-card>

    <mat-card class="mb-3">
      <h3>SUBSCRIPTION DETAILS</h3>
      <hr class="mt-2">
      <mat-list role="list" class="custom-list">
        <mat-list-item role="listitem"><span class="w-40">Subscription Mode </span><span class="w-60">Trial</span>
        </mat-list-item>
        <mat-list-item role="listitem"><span class="w-40">Subscription Dates </span><span class="w-60">From:12-May-2019
            , To:11-Dec-2019</span></mat-list-item>
        <mat-list-item role="listitem"><span class="w-40">Products </span><span class="w-60">World-Check,
            Passport-Check</span></mat-list-item>
        <mat-list-item role="listitem"><span class="w-40">Subscribed Screening </span><span class="w-60">Zero Footprint
            Search, Case Management & Audit</span></mat-list-item>
        <mat-list-item role="listitem"><span class="w-40">Default Screening Type of Primary Group </span><span
            class="w-60">Case Management & Audit</span></mat-list-item>
        <mat-list-item role="listitem"><span class="w-40">API Access </span><span class="w-60">World-Check</span>
        </mat-list-item>
      </mat-list>
    </mat-card>



    <mat-card>
      <h3>FEATURES</h3>
      <hr class="mt-2">
      <mat-list role="list" class="custom-list">
        <mat-list-item role="listitem"><span class="w-40">Batch </span><span class="w-60">On</span></mat-list-item>
      </mat-list>
    </mat-card>



  </div>
  <div>

    <mat-card class="mb-3">
	  
	     <div class="flex-auto flex flex-col sm:flex-row justify-between items-center">
          <h3>PRIMARY GROUP DETAILS</h3>

        <div class="actions flex flex-col sm:flex-row justify-end items-center">
      
          <div class="flex px-6"  >
		 
   <span routerLink="/admin/groups" >
   <button> <ic-icon [icon]="icSettings" class="mr-3" inline="true"></ic-icon> </button></span>
   
  
		   
          </div>
        </div>
      </div>
  
      
      <hr class="mt-2">
      <mat-list role="list" class="custom-list">
        <mat-list-item role="listitem"><span class="w-40">Compliance Leader </span><span class="w-60">{{name}}</span></mat-list-item>
        <mat-list-item role="listitem"><span class="w-40">Email </span><span class="w-60">
          {{email}}</span></mat-list-item>
        <mat-list-item role="listitem"><span class="w-40">Client Admin </span>
		<span class="w-60"  routerLink="/admin/groups" style="color:#00a5e2" ><button>more...</button></span>
        </mat-list-item>
      </mat-list>
    </mat-card>
    <mat-card class="mb-3">
      <h3>PRODUCT SETTINGS</h3>
      <hr class="mt-2">
      <mat-list role="list" class="custom-list">
        <mat-list-item role="listitem"><span class="w-40">Screening Custom Fields </span><span    (click)="openLg(content)" class="w-60">
		<button style="color:#00a5e2">edit</button></span></mat-list-item>
      </mat-list>
    </mat-card>
    <mat-card>
      <h3>World-Check</h3>
      <hr class="mt-2">
      <mat-list role="list" class="custom-list">
        <mat-list-item role="listitem"><span class="w-40">Settings </span><span class="w-60"><button
               style="color:#00a5e2" (click)="openLg(longContent)">edit</button></span>
        </mat-list-item>
        <mat-list-item role="listitem"><span class="w-40">Resolution Toolkit </span><span class="w-60"><button
               style="color:#00a5e2" (click)="openScrollableUser(longUser)">edit</button></span></mat-list-item>
        <mat-list-item role="listitem"><span class="w-40">Auto-Resolution </span><span class="w-60"><button
               style="color:#00a5e2" (click)="openScrollableAuto(longAuto)">edit</button></span></mat-list-item>
      </mat-list>




    </mat-card>
  </div>



</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Screening Custom Fields</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
            <form [formGroup]="onCustomFields">
  <div class="modal-body">

    <div class="p-6">
      <h2 class="title mt-0 mb-4">Custom Fields Configuration</h2>
      <h4 class="body-2 text-secondary m-0">Create unique fields for use during case creation </h4>
    </div>
    <hr>
    <div class="p-6 ">

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">


        <mat-form-field>
          <mat-label>Field 1</mat-label>
          <input matInput  formControlName="fields" required>
		    <mat-error *ngIf="onCustomFields.get('fields').hasError('required')">Required</mat-error>
        </mat-form-field>
        <mat-checkbox color="primary" [checked]="true">Show</mat-checkbox>
        <mat-checkbox color="accent" [checked]="true">Mandatory</mat-checkbox>


      </div>
      <button color="primary" mat-raised-button type="button">Add Row</button>

    </div>
    <div class="p-6 ">
      <h4 class="modal-title">Daily Email Schedule:</h4>
    </div>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">


      <mat-form-field fxFlex="auto">
        <mat-label>Members receive emails daily at</mat-label>
        <input matInput formControlName="receiveEmail" required>
		   <mat-error *ngIf="onCustomFields.get('receiveEmail').hasError('required')">Required</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="auto">
        <mat-label>Locale:</mat-label>
        <input matInput formControlName="locale" required>
				   <mat-error *ngIf="onCustomFields.get('locale').hasError('required')">Required</mat-error>
      </mat-form-field>

    </div>





  </div>

  <div class="modal-footer">
    <button color="primary" mat-raised-button type="submit">Save</button>
    <button color="primary" mat-raised-button type="button">Revert</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
  
  </form>
</ng-template>

<ng-template #longContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Groups</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="p-6">
      <h2 class="title mt-0 mb-4">Custom Fields Configuration</h2>
      <h4 class="body-2 text-secondary m-0">Create unique fields for use during case creation </h4>
    </div>
    <hr>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
      <div class="p-6 ">
        <span>Auto Include New Data Sources :</span> &nbsp; &nbsp; <mat-slide-toggle color="primary" [checked]="true">
        </mat-slide-toggle>
      </div>
      <div class="p-6 ">
        <span>Subscription Details :</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <mat-slide-toggle color="primary"
          [checked]="true"></mat-slide-toggle>

      </div>
    </div>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
      <div class="p-6 ">
        <span>Exclude Low Quality Aliases :</span> &nbsp; &nbsp; &nbsp; &nbsp; <mat-slide-toggle color="primary"
          [checked]="true"></mat-slide-toggle>
      </div>
      <div class="p-6 ">
        <span>Include Native Aliases :</span> &nbsp; &nbsp; &nbsp; &nbsp; <mat-slide-toggle color="primary"
          [checked]="true"></mat-slide-toggle>
      </div>
    </div>
    <div class="p-6 ">

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
        <span>Include Native Aliases :</span>&nbsp; &nbsp; &nbsp; &nbsp; <mat-form-field>
          <mat-label>C1-C4</mat-label>
          <input disabled matInput>
        </mat-form-field>


      </div>
      <button color="primary" mat-raised-button type="button">Add Row</button>

    </div>
    <div class="p-6 ">
      <h4 class="modal-title">Daily Email Schedule:</h4>
    </div>

    <div>



      <vex-page-layout-content class="vex-tabs p-0" vexContainer>
        <mat-tab-group>

          <mat-tab label="Initial Screening">

            <div class="px-6 py-4" fxLayout="row" fxLayoutAlign="start center">
              <h3>Initial Screening</h3>
            </div>

            <div class="p-6 ">

              <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                <span>Name match threshold:</span> &nbsp; <mat-form-field>
                  <mat-label>90</mat-label>
                  <input disabled matInput>
                </mat-form-field>

                <mat-slider min="1" max="10" thumbLabel tickInterval="1">Fuzzy</mat-slider>
              </div>


            </div>
            <div fxLayout="column" fxLayout.gt-sm="row">
              <div class="p-6">

                <div fxLayout="column" fxLayoutGap="12px">
                  <mat-checkbox>Sources</mat-checkbox>
                  <mat-checkbox [checked]="true" color="primary">Law Enforcement</mat-checkbox>
                  <mat-checkbox [checked]="true" color="accent">Other Bodies</mat-checkbox>
                  <mat-checkbox [checked]="true" color="warn">PEP</mat-checkbox>
                  <mat-checkbox [checked]="true" disabled>Regularity Enforcement</mat-checkbox>
                  <mat-checkbox [indeterminate]="true">Sanctions</mat-checkbox>
                </div>
              </div>


            </div>

          </mat-tab>

          <mat-tab label="Ongoing Screening">
            <div class="px-6 py-4" fxLayout="row" fxLayoutAlign="start center">
              <h3>Initial Screening</h3>
            </div>

            <div class="p-6 ">

              <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                <span>Name match threshold:</span> &nbsp; <mat-form-field>
                  <mat-label>78.18</mat-label>
                  <input disabled matInput>
                </mat-form-field>

                <mat-slider min="1" max="10" thumbLabel tickInterval="1">Fuzzy</mat-slider>
              </div>


            </div>
            <div fxLayout="column" fxLayout.gt-sm="row">
              <div class="p-6">

                <div fxLayout="column" fxLayoutGap="12px">
                  <mat-checkbox>Sources</mat-checkbox>
                  <mat-checkbox [checked]="true" color="primary">Primary</mat-checkbox>
                  <mat-checkbox [checked]="true" color="accent">Accent</mat-checkbox>
                  <mat-checkbox [checked]="true" color="warn">Warn</mat-checkbox>
                  <mat-checkbox [checked]="true" disabled>Disabled</mat-checkbox>
                  <mat-checkbox [indeterminate]="true">Indeterminate</mat-checkbox>
                </div>
              </div>


            </div>

          </mat-tab>

        </mat-tab-group>
      </vex-page-layout-content>



    </div>





  </div>
  <div class="modal-footer">
    <button color="primary" mat-raised-button type="button">Edit</button>
    <button color="primary" mat-raised-button type="button">Revert</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">
      <<Back </button> </div> </ng-template> 
	  
	  
	  
	  <ng-template #longUser let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Groups</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
		   <form [formGroup]="onGroupForm">
        <div class="modal-body">
          <div class="px-6 py-4 border-b" fxLayout="row" fxLayoutAlign="start center">
            <h2 class="title m-0">World-Check Reasons for Resolution</h2>
          </div>
          <div fxLayout="column" fxLayout.gt-sm="row">
            <div class="p-6">

              <h4 class="modal-title"> Show :</h4>
              <br>

              <div fxLayout="column" fxLayoutGap="12px">
                <mat-checkbox> Full Match</mat-checkbox>
                <mat-checkbox> No Match</mat-checkbox>
                <mat-checkbox> Partial Match </mat-checkbox>
                <mat-checkbox> Unknown </mat-checkbox>

              </div>
            </div>


          </div>


          <div class="px-6 py-4 border-b" fxLayout="row" fxLayoutAlign="start center">
            <h2 class="title m-0">World-Check Resolution States</h2>
          </div>
          <table class="table">
            <thead>
              <tr>

                <td class="body-2 text-secondary"></td>
                <td class="body-2 text-secondary">Mandatory Notes</td>
                <td class="body-2 text-secondary"></td>
                <td class="body-2 text-secondary"></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <mat-form-field>
                    <mat-label>POSITIVE</mat-label>
                    <input matInput  formControlName="positive" required>
					 <mat-error *ngIf="onGroupForm.get('positive').hasError('required')">Required</mat-error>
                  </mat-form-field>
                </td>
                <td class="p-8">
                  <mat-checkbox color="primary" [checked]="true"></mat-checkbox>
                </td>
                <td>
                  <mat-form-field>
                    <mat-label>Risk</mat-label>
                    <mat-select  formControlName="risk">
                      <mat-option value="Apples">HIGH</mat-option>
                      <mat-option value="Peaches">MEDIUM</mat-option>
                      <mat-option value="Bananas">LOW</mat-option>
                      <mat-option value="Mango">UNKNOWN</mat-option>
                   
                    </mat-select>
						 <mat-error *ngIf="onGroupForm.get('risk').hasError('required')">Required</mat-error>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <mat-label>Reasons</mat-label>
                    <mat-select  formControlName="reason">
                     <mat-option value="Apples">HIGH</mat-option>
                      <mat-option value="Peaches">MEDIUM</mat-option>
                      <mat-option value="Bananas">LOW</mat-option>
                      <mat-option value="Mango">UNKNOWN</mat-option>
                    </mat-select>
						 <mat-error *ngIf="onGroupForm.get('reason').hasError('required')">Required</mat-error>
                  </mat-form-field>
                </td>


              </tr>
              <tr>
                <td>
                  <mat-form-field>
                    <mat-label>POSIBLE</mat-label>
                    <input matInput  formControlName="posiible" required>
						 <mat-error *ngIf="onGroupForm.get('posiible').hasError('required')">Required</mat-error>
                  </mat-form-field>
                </td>
                <td class="p-8">
                  <mat-checkbox color="primary" [checked]="true"></mat-checkbox>
                </td>
                <td>
                  <mat-form-field>
                    <mat-label>Risk</mat-label>
                    <mat-select formControlName="posiibleRisk">
                       <mat-option value="Apples">HIGH</mat-option>
                      <mat-option value="Peaches">MEDIUM</mat-option>
                      <mat-option value="Bananas">LOW</mat-option>
                      <mat-option value="Mango">UNKNOWN</mat-option>
                    </mat-select>
						 <mat-error *ngIf="onGroupForm.get('posiibleRisk').hasError('required')">Required</mat-error>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <mat-label>Reasons</mat-label>
                    <mat-select formControlName="posiiblReason">
                 <mat-option value="Apples">HIGH</mat-option>
                      <mat-option value="Peaches">MEDIUM</mat-option>
                      <mat-option value="Bananas">LOW</mat-option>
                      <mat-option value="Mango">UNKNOWN</mat-option>
                    </mat-select>
						 <mat-error *ngIf="onGroupForm.get('posiiblReason').hasError('required')">Required</mat-error>
                  </mat-form-field>
                </td>

              </tr>
              <tr>
                <td>
                  <mat-form-field>
                    <mat-label>FALSE</mat-label>
                    <input matInput formControlName="falses" required>
						 <mat-error *ngIf="onGroupForm.get('falses').hasError('required')">Required</mat-error>
                  </mat-form-field>
                </td>
                <td class="p-8">
                  <mat-checkbox color="primary" [checked]="true"></mat-checkbox>
                </td>
                <td>
                  <mat-form-field>
                    <mat-label>Risk</mat-label>
                    <mat-select formControlName="falsesRisk">
                      <mat-option value="Apples">HIGH</mat-option>
                      <mat-option value="Peaches">MEDIUM</mat-option>
                      <mat-option value="Bananas">LOW</mat-option>
                      <mat-option value="Mango">UNKNOWN</mat-option>
                    </mat-select>
						 <mat-error *ngIf="onGroupForm.get('falsesRisk').hasError('required')">Required</mat-error>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <mat-label>Reasons</mat-label>
                    <mat-select formControlName="falsesReason">
                   <mat-option value="Apples">HIGH</mat-option>
                      <mat-option value="Peaches">MEDIUM</mat-option>
                      <mat-option value="Bananas">LOW</mat-option>
                      <mat-option value="Mango">UNKNOWN</mat-option>
                    </mat-select>
						 <mat-error *ngIf="onGroupForm.get('falsesReason').hasError('required')">Required</mat-error>
                  </mat-form-field>
                </td>


              </tr>
              <tr>
                <td>
                  <mat-form-field>
                    <mat-label>UNSPECIFIED</mat-label>
                    <input matInput formControlName="unspecified" required>
						 <mat-error *ngIf="onGroupForm.get('unspecified').hasError('required')">Required</mat-error>
                  </mat-form-field>
                </td>
                <td class="p-8">
                  <mat-checkbox color="primary" [checked]="true"></mat-checkbox>
                </td>
                <td>
                  <mat-form-field>
                    <mat-label>Risk</mat-label>
                    <mat-select formControlName="unspecifiedRisk">
                   <mat-option value="Apples">HIGH</mat-option>
                      <mat-option value="Peaches">MEDIUM</mat-option>
                      <mat-option value="Bananas">LOW</mat-option>
                      <mat-option value="Mango">UNKNOWN</mat-option>
                    </mat-select>
						 <mat-error *ngIf="onGroupForm.get('unspecifiedRisk').hasError('required')">Required</mat-error>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <mat-label>Reasons</mat-label>
                    <mat-select formControlName="unspecifiedReason">
                <mat-option value="Apples">HIGH</mat-option>
                      <mat-option value="Peaches">MEDIUM</mat-option>
                      <mat-option value="Bananas">LOW</mat-option>
                      <mat-option value="Mango">UNKNOWN</mat-option>
                    </mat-select>
						 <mat-error *ngIf="onGroupForm.get('unspecifiedReason').hasError('required')">Required</mat-error>
                  </mat-form-field>
                </td>


              </tr>
            </tbody>
          </table>

          <div class="mt-5" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
            <div @fadeInUp class="card" fxFlex="auto">
              <div class="px-6 py-4 border-b" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title m-0">Form Radio Button</h2>
              </div>

              <div class="px-6 py-4" fxLayout="column">
                <p class="mt-0 mb-4 text-secondary">
                  When you need a user to decide between multiple options and have him only choose one, you can use a
                  radio
                  button.
                </p>

                <div fxLayout="column" fxLayoutGap="16px">
                  <mat-radio-group fxLayout="row" fxLayoutGap="16px">
                    <mat-radio-button value="Peaches"> Remove from results</mat-radio-button>
                    <mat-radio-button [checked]="true" value="Apples">Auto-resolve as ‘False’</mat-radio-button>

                  </mat-radio-group>

                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button color="primary" mat-raised-button type="submit">Save</button>

          <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        </div>
		</form>
</ng-template>









<ng-template #longAuto let-modal>
  <div class="modal-header">
    <h4 class="modal-title">World-Check Auto Resolution</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div  fxLayout="row" fxLayoutAlign="start center">
      <h2 class="title m-0">World-Check Auto Resolution</h2>
    </div>

    <div class="px-6 py-4" fxLayout="column">
      <p class="mt-0 mb-4 text-secondary">
        What should World-Check One do with the World-Check outcome?
      </p>

      <div fxLayout="column" fxLayoutGap="16px">
        <mat-radio-group fxLayout="row" fxLayoutGap="16px">
          <mat-radio-button value="Peaches"> Remove from results</mat-radio-button>
          <mat-radio-button [checked]="true" value="Apples">Auto-resolve as ‘False’</mat-radio-button>

        </mat-radio-group>

      </div>
    </div>


    <div  fxLayout="row" fxLayoutAlign="start center">
      <h2 class="title m-0">Edit World-Check Rule Definitions</h2>
    </div>

    <div class="px-6 py-4" fxLayout="column">
      <p class="mt-0 mb-4 text-secondary">
        Manage the outcome of auto resolution
      </p>

      <div fxLayout="column" fxLayoutGap="16px">
        <mat-radio-group fxLayout="row" fxLayoutGap="16px">
          <mat-radio-button value="Peaches"> Remove from results</mat-radio-button>
          <mat-radio-button [checked]="true" value="Apples">Auto-resolve as ‘False’</mat-radio-button>

        </mat-radio-group>

      </div>
    </div>
    <div  fxLayout="row" fxLayoutAlign="start center">
      <h2 class="title m-0">Edit World-Check Rule Definitions</h2>
    </div>

    <div class="px-6 py-4" fxLayout="column">
      <p class="mt-0  text-secondary">
      Manage the outcome of auto resolution 
      </p>

  
    </div>
    <div class="h-auto relative overflow-hidden">
  <div  class="bg-card  px-gutter overflow-auto shadow"   gdColumn=" 4 / 1" >




    <table class="table w-full "   >
      <thead>
	  <td>Clear ALL</td>
  <td>Gender</td>
          <td>Date of Birth</td>
          <td>Country Location</td>
          <td>Place of Birth</td>
          <td>Nationality</td>
          <td>Registered Country</td>
          <td>IMO No</td>
      </thead>
   <tbody>
    
   
        <tr class="odd">
          <td><label class="sourceHeader">Sanctions</label></td>
    <td>
          <mat-checkbox></mat-checkbox>
          </td>
          <td>
        <mat-checkbox></mat-checkbox>
          </td>
          <td>
         <mat-checkbox></mat-checkbox>
          </td>
          <td>
      <mat-checkbox></mat-checkbox>
          </td>
          <td>
       <mat-checkbox></mat-checkbox>
          </td>
          <td>
            <mat-checkbox></mat-checkbox>
          </td>
          <td>
             <mat-checkbox></mat-checkbox>
          </td>
        </tr>
        <tr>
          <td><label class="sourceList">Sanctions</label></td>
 <td>
          <mat-checkbox></mat-checkbox>
          </td>
          <td>
        <mat-checkbox></mat-checkbox>
          </td>
          <td>
         <mat-checkbox></mat-checkbox>
          </td>
          <td>
      <mat-checkbox></mat-checkbox>
          </td>
          <td>
       <mat-checkbox></mat-checkbox>
          </td>
          <td>
            <mat-checkbox></mat-checkbox>
          </td>
          <td>
             <mat-checkbox></mat-checkbox>
          </td>
        </tr>
        <tr class="odd">
          <td><label class="sourceHeader">Law Enforcement</label></td>
   <td>
          <mat-checkbox></mat-checkbox>
          </td>
          <td>
        <mat-checkbox></mat-checkbox>
          </td>
          <td>
         <mat-checkbox></mat-checkbox>
          </td>
          <td>
      <mat-checkbox></mat-checkbox>
          </td>
          <td>
       <mat-checkbox></mat-checkbox>
          </td>
          <td>
            <mat-checkbox></mat-checkbox>
          </td>
          <td>
             <mat-checkbox></mat-checkbox>
          </td>
        </tr>
        <tr>
          <td><label class="sourceList">Law</label></td>
       <td>
          <mat-checkbox></mat-checkbox>
          </td>
          <td>
        <mat-checkbox></mat-checkbox>
          </td>
          <td>
         <mat-checkbox></mat-checkbox>
          </td>
          <td>
      <mat-checkbox></mat-checkbox>
          </td>
          <td>
       <mat-checkbox></mat-checkbox>
          </td>
          <td>
            <mat-checkbox></mat-checkbox>
          </td>
          <td>
             <mat-checkbox></mat-checkbox>
          </td>
        </tr>
        <tr class="odd">
          <td><label class="sourceHeader">Regulatory Enforcement</label></td>
   <td>
          <mat-checkbox></mat-checkbox>
          </td>
          <td>
        <mat-checkbox></mat-checkbox>
          </td>
          <td>
         <mat-checkbox></mat-checkbox>
          </td>
          <td>
      <mat-checkbox></mat-checkbox>
          </td>
          <td>
       <mat-checkbox></mat-checkbox>
          </td>
          <td>
            <mat-checkbox></mat-checkbox>
          </td>
          <td>
             <mat-checkbox></mat-checkbox>
          </td>
        </tr>
        <tr>
          <td><label class="sourceList">Regulatory</label></td>
     <td>
          <mat-checkbox></mat-checkbox>
          </td>
          <td>
        <mat-checkbox></mat-checkbox>
          </td>
          <td>
         <mat-checkbox></mat-checkbox>
          </td>
          <td>
      <mat-checkbox></mat-checkbox>
          </td>
          <td>
       <mat-checkbox></mat-checkbox>
          </td>
          <td>
            <mat-checkbox></mat-checkbox>
          </td>
          <td>
             <mat-checkbox></mat-checkbox>
          </td>
        </tr>
        <tr class="odd">
          <td><label class="sourceHeader">PEP</label></td>
        <td>
          <mat-checkbox></mat-checkbox>
          </td>
          <td>
        <mat-checkbox></mat-checkbox>
          </td>
          <td>
         <mat-checkbox></mat-checkbox>
          </td>
          <td>
      <mat-checkbox></mat-checkbox>
          </td>
          <td>
       <mat-checkbox></mat-checkbox>
          </td>
          <td>
            <mat-checkbox></mat-checkbox>
          </td>
          <td>
             <mat-checkbox></mat-checkbox>
          </td>
        </tr>
        <tr>
          <td><label class="sourceList">State Owned Entity</label></td>
        <td>
          <mat-checkbox></mat-checkbox>
          </td>
          <td>
        <mat-checkbox></mat-checkbox>
          </td>
          <td>
         <mat-checkbox></mat-checkbox>
          </td>
          <td>
      <mat-checkbox></mat-checkbox>
          </td>
          <td>
       <mat-checkbox></mat-checkbox>
          </td>
          <td>
            <mat-checkbox></mat-checkbox>
          </td>
          <td>
             <mat-checkbox></mat-checkbox>
          </td>
        </tr>
        <tr>
          <td><label class="sourceList">National Government</label></td>
     <td>
          <mat-checkbox></mat-checkbox>
          </td>
          <td>
        <mat-checkbox></mat-checkbox>
          </td>
          <td>
         <mat-checkbox></mat-checkbox>
          </td>
          <td>
      <mat-checkbox></mat-checkbox>
          </td>
          <td>
       <mat-checkbox></mat-checkbox>
          </td>
          <td>
            <mat-checkbox></mat-checkbox>
          </td>
          <td>
             <mat-checkbox></mat-checkbox>
          </td>
        </tr>
        <tr>
          <td><label class="sourceList">Sub-National Government</label></td>
          <td>
          <mat-checkbox></mat-checkbox>
          </td>
          <td>
        <mat-checkbox></mat-checkbox>
          </td>
          <td>
         <mat-checkbox></mat-checkbox>
          </td>
          <td>
      <mat-checkbox></mat-checkbox>
          </td>
          <td>
       <mat-checkbox></mat-checkbox>
          </td>
          <td>
            <mat-checkbox></mat-checkbox>
          </td>
          <td>
             <mat-checkbox></mat-checkbox>
          </td>
        </tr>
        <tr>
          <td><label class="sourceList">Local Government</label></td>
        <td>
          <mat-checkbox></mat-checkbox>
          </td>
          <td>
        <mat-checkbox></mat-checkbox>
          </td>
          <td>
         <mat-checkbox></mat-checkbox>
          </td>
          <td>
      <mat-checkbox></mat-checkbox>
          </td>
          <td>
       <mat-checkbox></mat-checkbox>
          </td>
          <td>
            <mat-checkbox></mat-checkbox>
          </td>
          <td>
             <mat-checkbox></mat-checkbox>
          </td>
        </tr>
        <tr>
          <td><label class="sourceList">Non-Governmental</label></td>
          <td>
          <mat-checkbox></mat-checkbox>
          </td>
          <td>
        <mat-checkbox></mat-checkbox>
          </td>
          <td>
         <mat-checkbox></mat-checkbox>
          </td>
          <td>
      <mat-checkbox></mat-checkbox>
          </td>
          <td>
       <mat-checkbox></mat-checkbox>
          </td>
          <td>
            <mat-checkbox></mat-checkbox>
          </td>
          <td>
             <mat-checkbox></mat-checkbox>
          </td>
        </tr>
        <tr>
          <td><label class="sourceList">International Organization</label></td>
         <td>
          <mat-checkbox></mat-checkbox>
          </td>
          <td>
        <mat-checkbox></mat-checkbox>
          </td>
          <td>
         <mat-checkbox></mat-checkbox>
          </td>
          <td>
      <mat-checkbox></mat-checkbox>
          </td>
          <td>
       <mat-checkbox></mat-checkbox>
          </td>
          <td>
            <mat-checkbox></mat-checkbox>
          </td>
          <td>
             <mat-checkbox></mat-checkbox>
          </td>
        </tr>
        <tr>
          <td><label class="sourceList">Regional Organization</label></td>
          <td>
           <mat-checkbox></mat-checkbox>
          </td>
          <td>
           <mat-checkbox></mat-checkbox>
          </td>
          <td>
            <mat-checkbox></mat-checkbox>
          </td>
          <td>
           <mat-checkbox></mat-checkbox>
          </td>
          <td>
            <mat-checkbox></mat-checkbox>
          </td>
          <td>
            <mat-checkbox></mat-checkbox>
          </td>
          <td>
            <mat-checkbox></mat-checkbox>
          </td>
        </tr>
        <tr>
          <td><label class="sourceList">State Invested Entity</label></td>
          <td>
          <mat-checkbox></mat-checkbox>
          </td>
          <td>
        <mat-checkbox></mat-checkbox>
          </td>
          <td>
         <mat-checkbox></mat-checkbox>
          </td>
          <td>
      <mat-checkbox></mat-checkbox>
          </td>
          <td>
       <mat-checkbox></mat-checkbox>
          </td>
          <td>
            <mat-checkbox></mat-checkbox>
          </td>
          <td>
             <mat-checkbox></mat-checkbox>
          </td>
        </tr>
        <tr class="odd">
          <td><label class="sourceHeader">Other Bodies</label></td>
          <td>
          <mat-checkbox></mat-checkbox>
          </td>
          <td>
        <mat-checkbox></mat-checkbox>
          </td>
          <td>
         <mat-checkbox></mat-checkbox>
          </td>
          <td>
      <mat-checkbox></mat-checkbox>
          </td>
          <td>
       <mat-checkbox></mat-checkbox>
          </td>
          <td>
            <mat-checkbox></mat-checkbox>
          </td>
          <td>
             <mat-checkbox></mat-checkbox>
          </td>
        </tr>
        <tr>
          <td><label class="sourceList">World-Check other bodies</label></td>
          <td>
          <mat-checkbox></mat-checkbox>
          </td>
          <td>
        <mat-checkbox></mat-checkbox>
          </td>
          <td>
         <mat-checkbox></mat-checkbox>
          </td>
          <td>
      <mat-checkbox></mat-checkbox>
          </td>
          <td>
       <mat-checkbox></mat-checkbox>
          </td>
          <td>
            <mat-checkbox></mat-checkbox>
          </td>
          <td>
             <mat-checkbox></mat-checkbox>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    </div>
	
   

  </div>
  <div class="modal-footer">
    <button color="primary" mat-raised-button type="button">Save</button>

    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>