<div class="w-full h-full bg-login" fxLayout="column" fxLayoutAlign="center center">
  <div @fadeInUp class="card overflow-hidden w-full max-w-md">
    <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
	    <div class="text-center mt-4">
      <h2 class="title m-0">CoopVerified</h2>
     
    </div> 
      <div class="fill-current text-center">
       <!-- <img class="logo" src="assets/img/logo.png" alt="Thomsonreuters">-->
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">Add a registration key</h2>
      <h4 class="body-2 text-secondary m-0">Add a new product registration key to your OnePass profile.</h4>
    </div>

    <div [formGroup]="form" class="p-6" fxLayout="column" fxLayoutGap="16px">
      <div fxFlex="auto" fxLayout="column">



        <mat-form-field>
          <mat-label>Product</mat-label>
          <select matNativeControl required>
            <option value="selectone" selected>Select One</option>
          </select>
        </mat-form-field>

        <mat-form-field fxFlex="grow">
          <mat-label>Registration key:</mat-label>
          <input formControlName="text" matInput required>
          <mat-hint>Example: 123456:ABCDEF</mat-hint>
        </mat-form-field>

        <mat-form-field fxFlex="grow">
          <mat-label>Custom label:</mat-label>
          <input formControlName="text" matInput required>
          <mat-hint>Give this registration key a label to differentiate it from others.</mat-hint>
        </mat-form-field>

        <mat-form-field fxFlex="grow">
          <mat-label>E-Mail</mat-label>
          <input formControlName="email" matInput required>
        </mat-form-field>

      </div>
      <button (click)="send()" color="primary" mat-raised-button type="button">
        CONTINUE
      </button>
    </div>
  </div>
</div>