<div class="card" fxLayout="column" fxLayout.gt-sm="row">
 <div @fadeInUp class="card" fxFlex="auto">
      <div class="px-6 py-4 border-b" fxLayout="row" fxLayoutAlign="start center">
        <h2 class="title m-0">Vessel Screening</h2>
      </div>

      <form [formGroup]="vesselScreeningForm" (ngSubmit)="createVesselScreening()" class="p-6" fxLayout="column" fxLayoutGap="16px">
       

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
          <mat-form-field fxFlex="auto">
          <mat-label>Name</mat-label>
          <input formControlName="name" matInput required>
		  <mat-error *ngIf="hasError('name', 'required')">Name is Required.</mat-error>
        </mat-form-field>
		
		 <mat-form-field fxFlex="auto">
            <mat-label>Case ID</mat-label>
            <input formControlName="caseId" matInput [value]=" ">
			<!-- <mat-error *ngIf="hasError('caseId', 'required')">CaseId is Required.</mat-error> -->
          </mat-form-field>
         
        </div>
    
		
        
		  
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
            	 <mat-form-field fxFlex="auto">
            <mat-label>IMO NUMBER</mat-label>
            <input formControlName="imoNumber" matInput>
            <mat-error *ngIf="hasError('imoNumber', 'required')">IMO NUMBER is Required.</mat-error>
          </mat-form-field>
		    
        </div>
		  
		  
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
          <button mat-button type="button">CANCEL</button>
          <button color="primary" mat-raised-button type="submit">SUBMIT</button>
        </div>
      </form>
    </div>

</div>

